<table>
    <tr>
        <td>
            <p>Ramón Atdiel Pérez Quintana</p>
            <p>Ser CEO de un empresa de tecnología reconocida mundialmente</p>
        </td>
        <td>
            <img src="../../assets/profilePicture.jpg" width=100 height=auto>
        </td>


        <td>
            <ul>
                <li>atdiel.perez9709@gmail.com</li>
                <li>2721986989</li>
                <li>Ixtaczoquitlan</li>
                <li>@quintana-ramon</li>
             </ul>
        </td>

    </tr>
</table>