<div>
    <h3>Skills & Competences</h3>
    <table>
        <tr>
            <td>Future focused</td>
            <td><div class="chart 1"></div></td>
        </tr>
        <tr>
            <td><tr>Verbal and writen</tr><tr>comunication</tr></td>
            <td><div class="chart 2" style="width: 30px;"></div></td>
        </tr>
        <tr>
            <td>Creativity</td>
            <td><div class="chart 1" style="width: 80px;"></div></td>
        </tr>
        <tr>
            <td>Critical Thinking</td>
            <td><div class="chart 1" style="width: 90px;"></div></td>
        </tr>
    </table>
</div>