<table border="1" style="width: 1000px;">
<tr style="height: 200px;">
  <td colspan="2"><app-header></app-header></td>
</tr>
<tr>
  <td style="vertical-align: top; width: 600px;">
    <tr>
      <app-work-experience></app-work-experience>
    </tr>
    <tr>
      <app-education></app-education>
    </tr>
  </td>
  <td style="vertical-align: top; width: 400px;">
    <tr>
      <app-skills></app-skills>
    </tr>
    <tr>
      <app-achievements></app-achievements>
    </tr>
    <tr>
      <app-languages></app-languages>
    </tr>
    <tr>
      <app-interests></app-interests>
    </tr>
  </td>
</tr>

</table>